.userOtherWorks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.userOtherWorksCarousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width:500px;
    height:100%;
    margin: 10px 0px
}

.userOtherWorksCarouselInner {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    transition:transform 0.3s;
    width:100%;
    height:100%
}

.userOtherWorksCarouselList {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.moveCarouselLeft {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #777;
    color: white;
    font-size: xx-large;
    height:30px;
    width: 30px;
    right: 44%;
    bottom: 38%;
    border-radius: 50%;
}
.moveCarouselRight {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #777;
    color: white;
    font-size: xx-large;
    height:30px;
    width: 30px;
    left: 44%;
    bottom: 46%;
    border-radius: 50%;
}

.userOtherWorksImg {
    max-height:100%;
    width:500px;
    object-fit: contain;
}

.userOtherWorksImg:hover {
    cursor: pointer;
}