.homePage {
    background-color: rgb(240, 243, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width:100%;
}

.homeContent {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height:90%;
    width:100%;
    margin-bottom: 100px;
}

.userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 500px;
    width: 250px;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgb(45, 45, 45);
}

.userContainerTop {
    background-color: rgb(88, 139, 157);
    height:75px;
    width:100%;
    border-radius: 10px 10px 0 0;
}
.userContainerSemiTop {
    position: relative;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 80px;
    border-radius: 150px 150px 0 0;
    background-color: rgb(255, 255, 255);
}

.postsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px;
}

.postsCreator {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgb(45, 45, 45);
    background-color: white;
}

.postsCreatorUpper {
    display: flex;
    flex-direction: row;
    margin: 15px 15px;
}

.postsCreatorButton {
    width:380px;
    height:40px;
    border: rgb(186, 186, 186) solid 1px;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    transition: 0.2s;
}

.postsCreatorButton:hover {
    background-color: rgb(230, 230, 230);
}

.postsCreatorLower {
    display: flex;
    flex-direction: row;
    margin: 15px 15px;
}

.postContainer {
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgb(45, 45, 45);
    background-color: white;
    width:500px
}

.newContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 400px;
    width: 350px;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgb(45, 45, 45);
}

.commentsContainer {
    margin-top: 10px;
    display: none;
    flex-direction: column;
    transition: 0.3s;
}

.postButton {
    border-radius: 4px;
    height: 50px;
    width: 115px;
    background-color: white;
    border: none;
    font-size: 16px;
    transition: 0.3s;
    margin: 5px 5px;
}

.postButton:hover {
    background-color: rgb(217, 217, 217);
}