.navBarContainer {
    position: fixed;
    width:100%;
    height: 55px;
    background-color: white;
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    z-index: 3;
    top:0
}

.navBarInner {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height:55px
}

.navBar {
    width:350px;
    min-width: 350px;
    display:flex;
    flex-direction:row;
    align-items: center;
}

.leftNav {
    justify-content: start;
    margin-left: 200px;
}

.rightNav {
    justify-content:end;
    margin-right: 200px;
}

.navBarLinks {
    width: 80px;
    padding: 10px 0px 8px 0px;
    text-decoration:none;
    display:flex;
    height: 100%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:rgb(115, 115, 115);
}

.navActive {
    border-bottom: rgb(0, 0, 0) 2px solid;
    color: black;
}

.navBarLinks:hover {
    cursor: pointer;
    color:black;
}

.navBarLinksCont {
    display:flex;
    height: 100%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:rgb(115, 115, 115);
    text-decoration:none;
}

.navBarLinksCont:hover {
    color:black;
}

.userOptionsContainer {
    display: flex;
    cursor:auto;
    flex-direction: column;
    position: absolute;
    background-color: white;
    justify-content: center;
    align-items: center;
    top: 64px;
    right: 700px 15%;
    box-shadow: 0px 0px 1px rgb(45, 45, 45);
    border-radius: 4px;
    width: 250px;
    height: 300px 
}

.navBarLinks:hover .meArrow {
    animation: Slide 0.7s linear infinite;
}

@keyframes Slide {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2px);
    }
}